@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  background-color: #F8C8DC;
  margin: 0;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Delicious Handrawn', cursive;
}

h2 {
  font-family: 'Delicious Handrawn', cursive;
}

.container {
  background-color: #F8C8DC;
}

.is-fullheight {
  height: 100vh;
}

.is-horizontal-center {
  justify-content: center;
}

.image{
  height: 350px;
  width: 250px;
}

.is-vcentered {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}